.container {
    background: #7a7575;
    display: flex;
    flex-direction: column;
    padding: 0 15px 15px;
    margin: 15px 0 3px;
    border-radius: 10px;
    border-bottom: 2px solid white;
    box-shadow: inset 0 -3px 13px -1px black;
}

.container h3 {
    margin: 10px 0;
}

.affair {
    margin: 5px 19px;
    display: inline-block;
    width: 80px;
    border-bottom: 1px solid #2c0c0c;
    font-weight: 600;
}

.button {
    display: inline-block;
    margin-left: 58px;
}

.button button {
    border-radius: 3px;
    border: solid 1px;
    padding: 5px 17px;
}

.button button:hover {
    box-shadow: 0 0 10px 0 #8a2be2 inset, 0 0 10px 2px white;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    background: #8a2be2;
    transition: .3s;
}

.filterButton {
    border: solid 1px;
    margin: 10px 2px 0 0;
    background-color: aliceblue;
    border-radius: 3px;
    padding: 5px 14px;
    cursor: pointer;
}

.filterButton:last-child {
    margin-right: 0;
}

.filterButton:focus {
    background-color: maroon;
    color: white;
}

.filterButton:hover {
    box-shadow: 0 0 10px 0 #8a2be2 inset, 0 0 10px 2px white;
    transition: .3s;
}

