.container {
    background: #7a7575;
    display: flex;
    flex-direction: column;
    padding: 0 15px 15px;
    margin: 15px 0 3px;
    border-radius: 10px;
    border-bottom: 1px solid white;
    box-shadow: inset 0 -3px 13px -1px black;
}

.container h3 {
    margin: 10px 0;
}